[2013-04-06 17:08] glassfishrobot opened #1 "Make project work on latest GlassFish build"
Make project work on the latest GlassFish build and file bugs as needed.

[2013-04-06 17:12] glassfishrobot opened #2 "Integrate JSF 2.2 @ViewScoped"
Integrate JSF 2.2 @ViewScoped

[2013-04-06 17:13] glassfishrobot opened #3 "Integrate JSF 2.2/HTML 5 pass-through forms"
Integrate JSF 2.2/HTML 5 pass-through forms

[2013-04-06 17:20] glassfishrobot opened #4 "Integrate WebSocket"
The current idea is to create a live dashboard with drill-down capabilities showing the location and status of cargo across the globe (and possibly voyage routes).

The problem is that this will use "SSE" only so only a partial use of WebSocket. Other ideas welcome. Chat seems a bit too artificial.

[2013-04-06 17:21] glassfishrobot opened #5 "Integrate JSON-P"
Use it for WebSocket services serialization.

[2013-04-06 17:23] glassfishrobot opened #6 "Clean up/complete tests"
Integrate Arquillian/GlassFish Embedded/Weld EE/Weld SE as needed.

[2013-04-06 17:25] glassfishrobot opened #7 "Integrate JTA 1.2"
Replace session beans?

[2013-04-06 17:27] glassfishrobot opened #8 "Improve look/feel/graphics"
Improve look/feel/graphics

[2013-04-06 17:29] glassfishrobot opened #9 "Convert carrier movement file import to JBatch"
Convert carrier movement file import to JBatch

[2013-04-06 17:32] glassfishrobot opened #10 "Incorporate Apache Commons"
Good non-Java EE code integration example.

[2013-04-06 17:33] glassfishrobot opened #11 "Incorporate PrimeFaces"
Adds some pizzazz, shows power of JSF component ecosystem.

[2013-04-06 17:34] glassfishrobot opened #12 "Integrate Apache Cargo"
Makes self-contained demos possible.

[2013-04-06 17:35] glassfishrobot opened #13 "Incorporate Jakarta Data"
Adopt Jakarta Data: https://projects.eclipse.org/proposals/jakarta-data when it is finalized.

[2013-04-06 17:37] glassfishrobot opened #14 "Integrate JPA second-level cache"
Integrate JPA second-level cache

[2013-04-06 17:40] glassfishrobot opened #15 "Expand functionality to add Incident Logging Application"
This is a Java SE application in the original DDD sample project. Should be ported over to show Java EE - Java SE/JavaFX/JAX-RS Client integration.

The source for the original Incident Logger is here: [http://dddsample.sourceforge.net/download.html](http://dddsample.sourceforge.net/download.html)

[2013-04-06 17:43] glassfishrobot opened #16 "Secure application"
Using Java EE security/JAAS.

[2013-04-06 17:43] glassfishrobot opened #17 "Add JMeter stress tests"
Add JMeter stress tests

[2013-04-06 17:45] glassfishrobot opened #18 "Add SoapUI scripts"
Add SoapUI scripts

[2013-04-06 20:58] glassfishrobot opened #19 "Create Java EE 6 version of application"
Frequently requested so most folks can run it on their existing servers, incorporate into their existing applications.

[2013-04-09 03:17] glassfishrobot opened #20 "Add Jakarta EE Feature Recommendations section"
Add a section explaining higher level Java EE feature choices and recommendations as they pertain to the application (e.g. annotations vs. XML). Need to maintain a balance since API/feature best practices are not the primary focus (as opposed to architectural blueprints/patterns) and the application would not cover large parts of many APIs (as perhaps the samples do).

Alternatively, create API sp

[2013-04-09 17:12] glassfishrobot opened #21 "Copy over/ehnance DDD documentation."
Copy over [http://dddsample.sourceforge.net/characterization.html](http://dddsample.sourceforge.net/characterization.html), [http://dddsample.sourceforge.net/patterns-reference.html](http://dddsample.sourceforge.net/patterns-reference.html) and [http://dddsample.sourceforge.net/architecture.html](http://dddsample.sourceforge.net/architecture.html) - add clarifications/Java EE specific content wher

[2013-04-10 03:48] #2 closed, assigned to glassfishrobot

[2013-04-12 02:06] glassfishrobot opened #22 "Modularize application"
Introduce ear?

[2013-04-15 02:46] #21 closed, assigned to glassfishrobot

[2013-04-17 13:12] glassfishrobot opened #23 "Fix data population restart weakness"
Add manual deletes?

[2013-05-04 21:50] #23 closed, assigned to glassfishrobot

[2013-05-14 21:52] glassfishrobot opened #24 "Incorporate CI/CD"
Add continuous integration as per DDD practices.

[2013-05-17 18:11] glassfishrobot opened #25 "Design Alternatives - Anti Corruption Layer for Graph Traversal Service"
The two main contexts for the CargoTracker Application are the Booking context and the Routing Context. So when the Booking context makes a call to the Routing context via the External Routing Service, it can be done via a separate facade and a translator rather than putting it all into the External Routing Service itself. This helps us change the implementation of the facade if the routing contex

[2013-06-26 17:38] #12 closed, assigned to glassfishrobot

[2013-07-12 23:16] #3 closed, assigned to glassfishrobot

[2013-08-07 17:49] glassfishrobot opened #26 "HTML namespaces in Facelets pages need updating for Java EE 7 (JSF 2.2)"
As of JavaServer Faces 2.2, the namespace URLs for Facelets pages have changed from java.sun.com to xmlns.jcp.org. To support Java EE 7, for example, the three middle namespaces in the following html element in admin/registration.xhtml need to be fixed:

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:ui="http://java.su

[2013-08-07 18:32] glassfishrobot opened #27 "POM unloadable in NetBeans"
When I open the project (from the SVN repository) in NetBeans 7.3.1, I get the following error:

Some problems were encountered while processing the POMs: [ERROR] 'dependencies.dependency.version' for org.jboss.arquillian.junit:arquillian-junit-container:jar is missing. @line 62, column 21.

This problem is resolved by adding the version number 1.1.0.Final to the arquillian-junit-container depende

[2013-08-07 18:38] glassfishrobot opened #28 "The JSF pages show errors in NetBeans"
The JSF pages contain red icons in the Project Browser when you open the project in NetBeans 7.3.1.

This issue is presumably fixed by using the [http://xmlns.jcp.org/jsf](http://xmlns.jcp.org/jsf) namespace instead of the [http://java.sun.com/jsf](http://java.sun.com/jsf) namespace.

[2013-08-07 20:10] glassfishrobot opened #29 "Cargotracker won't cleanly undeploy and redeploy"
Usually, when I undeploy the cargotracker application, the following error appears in the server log:

SEVERE: The web application [/cargo-tracker] created a ThreadLocal with key of type [org.glassfish.pfl.dynamic.codegen.impl.CurrentClassLoader$1] (value [org.glassfish.pfl.dynamic.codegen.impl.CurrentClassLoader$1@18df5b39]) and a value of type [org.glassfish.web.loader.WebappClassLoader] (value

[2013-08-07 22:23] #29 closed, assigned to glassfishrobot

[2013-08-08 19:21] #28 closed, assigned to glassfishrobot

[2013-08-09 20:24] #27 closed, assigned to glassfishrobot

[2013-08-16 21:27] glassfishrobot opened #30 "Document JSF mapping decision"
In web.xml, for a Facelets index.xhtml, it is customary to list the welcome file as follows:

<welcome-file>faces/index.xhtml</welcome-file>

And the servlet-mapping is usually

<url-pattern>/faces/*</url-pattern>

not

<url-pattern>*.xhtml</url-pattern>

I can assign myself to this issue and make the fixes if there is no objection.

[2013-08-19 22:03] glassfishrobot opened #31 "Don't hard code root filesystem paths into web.xml"
<url>jdbc:derby:$

{webapp.databaseTempDir}

/cargo-tracker-database;create=true</url>

[2013-08-20 18:51] #31 closed, assigned to glassfishrobot

[2013-09-09 14:41] glassfishrobot opened #32 "Put application on cloud"
Figure out a way to save data only per session (multitenacy?). Which cloud service should we use?

[2013-10-13 16:25] glassfishrobot opened #33 "Demonstrate solution for lazy-loading"
In the application some JPA relations are one-to-many and by default lazy loaded. When fetching the aggregate-root through the repository the returned root object will be detatched. Eclipselink handles this for read operations but Hibernate would throw a LazyInitializationException.

A traditional solution would be to add methods to a DAO such as loadCargoWithLoadedLegs();
With a lot of lazy colle

[2014-01-23 00:11] #26 closed, assigned to glassfishrobot

[2014-01-23 23:05] #9 closed, assigned to glassfishrobot

[2014-01-24 21:44] #7 closed, assigned to glassfishrobot

[2014-04-16 09:54] glassfishrobot opened #34 "Unable to set cargo as "CLAIMED" or "RECEIVED""
When I tried an end to end use-case, I was able to do event logging of "LOAD", "UNLOAD" for a route.
But, when I do "CLAIM" at the destination, the status change does not happen and the application's dashboard (admin view)
does not show the cargo-item in "claimed" category.

[2014-04-17 07:31] glassfishrobot opened #35 "mvn cargo:run throws error on Ubuntu 12"
As described in [https://java.net/projects/cargotracker/pages/Home#Getting_Started](https://java.net/projects/cargotracker/pages/Home#Getting_Started) all one needs to do is run the 'mvn cargo:run' command to start the application. I checked out the cargo-tracker source from SVN, and ran 'mvn cargo:run' which downloaded the dependencies, started the glassfish server, but then failed with FileNotFo

[2014-05-07 21:12] glassfishrobot opened #36 "JSF warn message displayed on details of a cargo"
Steps to reproduce :

=> JSF warn message : "The metadata component needs to be nested within a f:metadata tag. Suggestion: enclose the necessary components within <f:metadata>"
#### Environment
Netbeans 8.0
Glassfish 4.0
JDK 7

[2014-05-07 21:18] glassfishrobot opened #37 "NullPointerException when booking a new cargo"
Steps to reproduce :

=> javax.faces.el.EvaluationException: java.lang.NullPointerException: Country and location may not be null
#### Environment
Netbeans 8.0
Glassfish 4.0
JDK 7.0

[2014-05-07 22:12] #36 closed, assigned to glassfishrobot

[2014-05-09 13:06] glassfishrobot opened #38 "Order lists in booking view"
Go to [http://localhost:8080/cargo-tracker/admin/registration.xhtml](http://localhost:8080/cargo-tracker/admin/registration.xhtml)

The two lists Origin and Destination are not ordered.
They should be ordered alphabetically.
#### Environment
Netbeans 8.0
JDK 1.7
Glassfish 4.0

[2014-05-09 13:11] glassfishrobot opened #39 "Booking with same origin and destination should display a nice jsf message instead of an javax.ejb.EJBException"
When booking with same origin and destination, the application throws an error and displays it in the standard exception jsf page :

Caused by: java.lang.IllegalArgumentException: Origin and destination can't be the same: Shanghai [CNSHA]

This exception should be caught and should be display in an nice jsf error message
#### Environment
Netbeans 8.0
JDK 1.7
Glassfish 4.0

[2014-05-09 13:15] glassfishrobot opened #40 "Validating date when booking a cargo"
When booking a cargo, if the date is not valid, the application should display an nice jsf message.

Instead, it redirects on the details of the new cargo but this new cargo is not displayed in the list.
#### Environment
JDK 1.7
Netbeans 8.0
Glassfish 4.0

[2014-05-09 22:08] glassfishrobot opened #41 "When searching a cargo by trackingId, the input is not trimmed so the application throws an exception"
Steps to reproduce :

*   On home page, go to public landing page
*   Search a valid tracking id with space before or after

=> javax.faces.el.EvaluationException: javax.persistence.NoResultException: getSingleResult() did not retrieve any entities.

When removing the spaces, cargo is retrieved.

Bug is also on administration.
#### Environment
JDK 1.7
Netbeans 8.0
Glassfish 4.0

[2014-06-03 16:03] #37 closed, assigned to glassfishrobot

[2014-06-17 19:42] #41 closed, assigned to glassfishrobot

[2014-07-13 21:49] glassfishrobot opened #42 "Support for different databases"
It would be nice to be able to get the application to work with different databases. It doesn't seem to be trivial to get the application to work with Oracle XE for example.

[2014-07-28 16:17] #42 closed, assigned to glassfishrobot

[2014-07-28 16:30] #40 closed, assigned to glassfishrobot

[2014-07-28 17:22] #39 closed, assigned to glassfishrobot

[2014-07-28 17:46] #38 closed, assigned to glassfishrobot

[2014-07-28 18:06] #35 closed, assigned to glassfishrobot

[2014-09-10 16:55] #1 closed, assigned to glassfishrobot

[2014-09-23 14:36] glassfishrobot opened #43 "uses consistent date format"
Some dates uses dd/mm/yyyy (show.xhtml) while others are using yyyy-mm-dd (e.g. incident-logger.xhtml)
#### Environment
Mac OS X (english with BE local)

[2014-09-23 14:36] glassfishrobot opened #44 "uses consistent date format"
Some dates uses dd/mm/yyyy (show.xhtml) while others are using yyyy-mm-dd (e.g. incident-logger.xhtml)
#### Environment
Mac OS X (english with BE local)

[2014-09-24 08:40] glassfishrobot opened #45 "Livemap need to handle 'unknown location'"
Cargo with last location set to unknown are displayed in the middle of the USA.
Either don't display them or display them in a 'parked' area (eg. bottom left)
#### Environment
NA

[2014-09-25 12:54] glassfishrobot opened #46 "Location (origin & dest) sent via WebSocket have a diff. format"
Location that are updated via websocket are using a different format (City only) than the 'std' format (City + Port Code).
See last row of attached screenshot

[2014-09-25 13:07] glassfishrobot opened #47 "Provide more details when 'registration failed'"
When logging an event failed, the only message sent to the user is "registration failed". Is this failure due a domain issue or to a technical issue?
User need to get more useful feedback.

[2014-09-25 13:16] glassfishrobot opened #48 "Rerouting a Cargo to its destination raise an Exception"
'Book Cargo' refuse to book a cargo that has the same Origin and Dest ("Origin and destination cannot be the same").
But this following case is not handled correctly:

*   "Book Cargo" : A to B
*   "Change Destination" : B to A (the cargo has now A as both Origin & Dest).
    -> EJB Exception Caused by: java.lang.IllegalArgumentException: Origin and destination can't be the same: Chicago [USCH

[2014-09-25 13:22] glassfishrobot opened #49 "Mobile client interface should be smarter"
The interface should be improved to, for example, suggest 'location codes' and 'voyage numbers' when the user has filled the tracking ID.

[2014-09-27 19:14] glassfishrobot opened #50 "Change a booked cargo destination to use the original destination fails"
*   "Book a Cargo" (A to B)
*   "Change Destination" and keep B as destination, click "ok"
    -> javax.ejb.EJBException "Caused by: java.lang.IllegalArgumentException: Origin and destination can't be the same: Chicago [USCHI]"

[2014-10-06 05:45] glassfishrobot opened #51 "Cargo tracer fails to deploy"
Cargo tracker fails to deploy on a freshly downloaded GlassFish 4.1 when copying cargotracker.war to domain1/autodeploy directory with error

[2014-10-06T06:43:19.891+0100] [glassfish 4.1] [SEVERE] [] [javax.enterprise.system.core] [tid: _ThreadID=48 _ThreadName=AutoDeployer] [timeMillis: 1412574199891] [levelValue: 1000] [[

Exception while loading the app : java.lang.ClassNotFoundException: org.

[2015-01-22 22:36] glassfishrobot opened #52 "Restore "trunk", "tags" and "branches" to root, moving current contents of root into "trunk""
Restore "trunk", "tags" and "branches" to root, moving current contents of root into "trunk"

[2015-01-22 22:53] #52 closed, assigned to glassfishrobot

[2015-01-22 22:54] glassfishrobot opened #53 "update index.html with reference to 7.0 tag."
update index.html with reference to 7.0 tag.

[2015-01-22 22:55] #53 closed, assigned to glassfishrobot

[2015-02-05 16:16] glassfishrobot opened #54 "Support WildFly"
Add support for WildFly 8.2.X. Preferably using maven profiles and cargo plugin. This will serve as a template for supporting other app servers.

[2015-02-14 00:05] #54 closed, assigned to glassfishrobot

[2015-02-21 16:33] #34 closed, assigned to glassfishrobot

[2015-02-21 16:36] #44 closed, assigned to glassfishrobot

[2015-02-24 15:32] glassfishrobot opened #55 "failure building app due to missing downstream dependency"
I checked out the 7.0 tag of the cargo tracking sample app. When trying to build with cargo:run, it failed to resolve a dependency:

[code]

Apparently, due to (or related to) [JERSEY-1963](https://java.net/jira/browse/JERSEY-1963 "Dependency Error for jersey-media-moxy 2.0"). Changing the pom.xml to use a newer version of jersey-media-moxy avoids the issue.

[2015-02-24 19:28] #5 closed, assigned to glassfishrobot

[2015-02-24 19:29] #4 closed, assigned to glassfishrobot

[2015-02-24 20:00] glassfishrobot opened #56 "Improve look/feel"
Look and feel overall remains something that could be improved for the project. While effort has been made towards this over the years, no serious UI/design help has ever been available, so we have done what we can. Ideally we need a professional web designer to help us or at least someone that knows graphics, CSS, HTML, JavaScript, PrimeFaces, Faces, etc very well.

This item is for looking at th

[2015-02-26 03:12] #55 closed, assigned to glassfishrobot

[2015-03-11 10:09] glassfishrobot opened #57 "getNotRoutedCargos() iterate over the wrong list"
net.java.cargotracker.interfaces.booking.web.ListCargo.getNotRoutedCargos() should iterate using 'cargos' and not 'notRoutedCargos'

[2015-03-19 02:16] glassfishrobot opened #58 "Specified column name too long for Oracle Database table"
When running cargo tracker using an Oracle Database as the backend, the deployment fails with the following message:

An Oracle Database table has an upper limit of 30 bytes for a column name:

The failing SQL statement is this:

Error Code: 972
Call: CREATE TABLE CARGO (ID NUMBER(19) NOT NULL, calculated_at TIMESTAMP NULL, ETA DATE NULL, unloaded_at_dest NUMBER(1) default 0 NULL, MISDIRECTED NUMB

[2015-03-19 02:28] glassfishrobot opened #59 "WebSocket connections should calculate host:port dynamically from client"
The JS code that creates the WebSocket connections is hardcoded to use localhost:8080 and the cargo-tracker path:

var ws = new WebSocket("ws://localhost:8080/cargo-tracker/tracking");

It would make the application more portable if this target was derived on the client using the available location properties, for example:

var path = window.location.pathname.split( '/' )[1];
var wsUri = "ws://" +

[2015-08-10 15:39] glassfishrobot opened #60 "Investigate visual glitch in the Booking Face Flow"
There's a visual glitch in the Booking Flow when passing the 1st screen, i.e. the page is quickly (100-200ms at most) displayed without layout. This is quick but noticable.
#### Environment
NewUI

[2015-08-10 15:40] glassfishrobot opened #61 "Improve (container) error handling"
Improve the container error handling, right now It's fairly limited (404, session timeout)
#### Environment
NewUI

[2015-08-10 15:48] glassfishrobot opened #62 "Move Booking flow to /admin"
Booking flow is located in main/webapp/booking
It might makes more sense to move it main/webapp/admin/booking/ but that require to use the Faces Flow API ( [http://stackoverflow.com/questions/25140475/how-to-place-a-jsf-flow-in-a-subfolder](http://stackoverflow.com/questions/25140475/how-to-place-a-jsf-flow-in-a-subfolder))
#### Environment
NewUI

[2015-08-10 15:52] glassfishrobot opened #63 "Booking flow: small layout issue when using 'Back'"
Using the 'back' button in the 'Booking' Face flows leads to small visual hiccup (the UI is lowered)
#### Environment
NewUi

[2015-08-10 15:57] glassfishrobot opened #64 "Admin Dashboard : Add the ability to change the date"
In the Admin Dashboard, one can change the Destination but not the Date of a Cargo. This should be added.
#### Environment
NewUI

[2015-08-10 15:58] glassfishrobot opened #65 "When setting a Date, Time selection should be added."
Right now, one can set a Date but the not the Time in the day for that date. This should be added.

[2015-08-10 16:48] glassfishrobot opened #66 "Improve Events display on Map"
Admin -> Track

The (G)Map currently display marker (with details) for Origin, Destination and Events (if any). When there are multiple events at the same location, only the last event is included in the marker details
#### Environment
NewUI

[2015-08-11 12:11] glassfishrobot opened #67 "Clean CSS's"
Clean & consolidate CCSs that are scattered around.
#### Environment
NewUI

[2015-08-11 13:03] #48 closed, assigned to nobody

[2015-08-11 13:04] #50 closed, assigned to nobody

[2015-08-11 18:30] #59 closed, assigned to glassfishrobot

[2015-08-11 18:48] #22 closed, assigned to glassfishrobot

[2015-08-12 14:25] #51 closed, assigned to glassfishrobot

[2015-08-12 14:55] #45 closed, assigned to glassfishrobot

[2015-08-13 04:28] glassfishrobot opened #68 "Ability to select Unrouted cargo in the Mobile UI"
The mobile UI only display Routed Unclaimed cargos.
Add the possibility to also select UnRouted cargo. In the selection process, there should be a visual distinction between Routed and UnRouted cargo to avoid any confusion.

[2015-08-13 11:22] glassfishrobot opened #69 "Fix the useless link to invoke the Mobile UI"
Right now, a user need to double click to reach the Mobile UI.
The first link is used to open a new browser windows and set its size.
The second link is used to actually invoke the Mobile Faces Flow.
The intermediary link is a temporary workaround that need to be fixed.

[2015-08-14 12:22] glassfishrobot opened #70 "Forbid user to select item list title."
In MobileUI, match all conditions to pass to the next screen, 'Next' btn will then be enabled. Select then a list title (1st elem.). The conditions aren't met anymore but the 'Next' btn remains enabled (listeners aren't invoked for list 1st elem).

[2015-08-14 12:31] glassfishrobot opened #71 "Switch to javax.faces.PROJECT_STAGE to Deployment"
When CT is good to go, make sure to switch the project stage to Deployment. If you don't, you'll see some debugging info displayed in the MobileUI screen transitions.

[2015-08-14 20:12] glassfishrobot opened #72 "MobileUI : add the ability to select the time when registering an event"
Right now, an operator can only select the date when an event occurs. It would nice to let him select the time too (TZ?)

[2015-08-18 03:12] #49 closed, assigned to nobody

[2015-08-18 03:16] #66 closed, assigned to nobody

[2015-08-18 03:18] #57 closed, assigned to nobody

[2015-08-26 22:17] #69 closed, assigned to nobody

[2015-09-18 01:01] #11 closed, assigned to nobody

[2015-10-11 13:48] glassfishrobot opened #73 "ClassNotFoundException: javax.xml.parsers.ParserConfigurationException"
I tried to use the incident-logger ([http://localhost:8080/cargo-tracker/incident-logger/](http://localhost:8080/cargo-tracker/incident-logger/)), but as soon as I click on the button "Log" I get exception below, and in the browser I see "Registration failed".

I tried to used following Glassfish versions:

*   4.1 (Official)
*   4.1.1 (Official)
*   4.1 (Nightly)
*   4.1.1 (Nightly)

Any idea wha

[2015-10-21 07:35] glassfishrobot opened #74 "Improve Live map UI"
Right now, the Live map UI doesn't tell the user when it's connected.
On some container, the WebSocket default session timeout is relatively short (30sec. on WLS) as a result the Map is not updated (because it's already disconnected).

On the client side, we can
1°) keep the session alive (reconnect)
2°) add some sort of indicator to inform the user that it's connected to the remote EP
#### Enviro

[2015-10-22 13:58] #74 closed, assigned to nobody

[2015-10-26 16:49] glassfishrobot opened #75 "Replace dependencies on Glassfish and Jersey Moxy (JSON)"
I'm in Reza's Tutorial on Cargo-Tracker and I attempted some "extra credit". I wanted to build and deploy to WebSphere Liberty, instead of the default GF.

The build worked fine since Maven automatically brought down the dependencies. But, when I tried to run on Liberty, I got an error due to missing Classes:

38: Caused by: java.lang.ClassNotFoundException: org.glassfish.jersey.server.ResourceCon

[2016-02-05 19:48] glassfishrobot opened #76 "Dropping Eclipse Support"
The project uses Maven profiles and web.xml filtering to run seamlessly against both GlassFish and WebLogic. Unfortunately neither of these two things are supported in Eclipse due to it's very weak integration with Maven. Two bugs have been filed against Eclipse for this reason: [https://bugs.eclipse.org/bugs/show_bug.cgi?id=487370](https://bugs.eclipse.org/bugs/show_bug.cgi?id=487370), [https://b

[2016-10-01 23:14] glassfishrobot opened #77 "javax.faces.el.EvaluationException: javax.ejb.EJBTransactionRolledbackException"
I've clone the repository to study the project, everything was going fine until i hit de "Reroute" button and I get this exception: javax.ejb.EJBTransactionRolledbackException.

I've already tried to deploy on another glassfish version and nothing. Can you guys see this.

Thanks.
#### Environment
IntelliJ Idea, Glassfish 4.1.1

[2016-10-03 14:20] #77 closed, assigned to glassfishrobot

[2017-05-28 10:12] glassfishrobot opened #78 "[MINOR] "About" pages contain links to old home page"
About pages from both the public (/cargo-tracker/public/track.xhtml) and admin (/cargo-tracker/admin/dashboard.xhtml) sites present link to old home page at [https://cargotracker.java.net/](https://cargotracker.java.net/), which is no longer operational - link should probably be to [https://github.com/javaee/cargotracker](https://github.com/javaee/cargotracker).

[2017-05-28 10:22] glassfishrobot opened #79 "Admin/Track link errors with javax.el.PropertyNotFoundException"
## To Reproduce
* Start app
* Go to Admin site [http://localhost:8080/cargo-tracker/admin/dashboard.xhtml](http://localhost:8080/cargo-tracker/admin/dashboard.xhtml)
* Click the Track link in the main nav bar

## Screenshot

![cargo-tracker-admin-track-error](https://cloud.githubusercontent.com/assets/182885/26527983/387e4404-43e3-11e7-9427-9d387fb40682.png)

## Testing Environment

### Browser
Go

[2017-05-30 04:07] glassfishrobot opened #81 "Use markdown in README"
No description provided.

[2017-05-31 06:37] #78 closed, assigned to nobody

[2017-09-20 10:29] glassfishrobot opened #84 "WildFly 10.1.0.Final"
Deploy the cargotracker in WilfFly 10.1.0.Final Java EE7 Full & Web Distribution gives me following error:

Deploying on WildFly Application Server
    profile mode: false
    debug mode: false
    force redeploy: true
Initial deploying cargotracker to C:\wildfly\wildfly-10.1.0.Final\standalone\deployments\cargo-tracker.war
Completed initial distribution of cargotracker
Deploying C:\wildfly\wildfl

[2017-10-07 01:54] glassfishrobot opened #85 "Error loading css, cannot find "theme.css" resource of "primefaces-ui-lightness" library"
Encounter this issue both in Netbeans and and Intilij.
Java 7 & 8
Glassfish 4.1.2
Maven 3.3.9

**- Stack Trace**
javax.faces.FacesException: Error loading css, cannot find "theme.css" resource of "primefaces-ui-lightness" library
	at org.primefaces.renderkit.HeadRenderer.encodeCSS(HeadRenderer.java:139)
	at org.primefaces.renderkit.HeadRenderer.encodeBegin(HeadRenderer.java:76)
	at javax.faces.com

[2018-05-02 14:13] glassfishrobot opened #87 "Unable to route a package after Successfully booking."
When i click on the small earth icon under the Not Routed section in order to assign a route for the package i get : "javax.ejb.EJBTransactionRolledbackException". Am using GlassFish 4.1
 Please any Help?

[2018-06-05 21:18] glassfishrobot opened #88 "Unable to build app"
I've checked out tag 1.0(6a2a4980fcdd72b26c27b1bcdc7a385dda876ba6)
Following the readme I ran the command `mvn install cargo:run`

However this returns an error:

```[ERROR] Failed to execute goal org.codehaus.cargo:cargo-maven2-plugin:1.4.2:run (default-cli) on project cargo-tracker: Execution default-cli of goal org.codehaus.cargo:cargo-maven2-plugin:1.4.2:run failed: Failed to download [http://

[2018-06-18 12:06] #81 closed, assigned to nobody

[2019-09-16 04:58] glassfishrobot opened #80 "Place holder issue for Pull Request 80"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/80

[2019-09-16 04:58] #80 closed, assigned to nobody

[2019-09-16 04:58] glassfishrobot opened #82 "Place holder issue for Pull Request 82"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/82

[2019-09-16 04:58] #82 closed, assigned to nobody

[2019-09-16 04:58] glassfishrobot opened #83 "Place holder issue for Pull Request 83"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/83

[2019-09-16 04:58] #83 closed, assigned to nobody

[2019-09-16 04:58] glassfishrobot opened #86 "Place holder issue for Pull Request 86"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/86

[2019-09-16 04:58] #86 closed, assigned to nobody

[2019-09-16 04:59] glassfishrobot opened #89 "Place holder issue for Pull Request 89"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/89

[2019-09-16 04:59] #89 closed, assigned to nobody

[2019-09-16 04:59] glassfishrobot opened #90 "Place holder issue for Pull Request 90"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/90

[2019-09-16 04:59] #90 closed, assigned to nobody

[2019-09-16 04:59] glassfishrobot opened #91 "Place holder issue for Pull Request 91"
This is a place holder issue for Pull request from https://github.com/javaee/cargotracker/pull/91

[2019-09-16 04:59] #91 closed, assigned to nobody

[2020-06-13 18:44] m-reza-rahman commented on #19
I think we should move forward. Not many folks interested in Java EE 6 any more.

[2020-06-13 18:44] #19 closed

[2020-06-15 22:50] thadumi commented on #88
@m-reza-rahman we can close this issue. It seams to be an error regarding the download URL of GlassFish.

[2020-06-15 22:52] thadumi commented on #85
This error has been caused by and old version of PrimeFaces. We can close it @m-reza-rahman

[2020-06-15 23:02] m-reza-rahman commented on #85
Closing outdated issue.

[2020-06-15 23:02] #85 closed

[2020-06-15 23:02] m-reza-rahman commented on #88
Closing outdated issue.

[2020-06-15 23:02] #88 closed

[2020-06-15 23:03] thadumi opened #94 "Moving the temporary Cargo Tracker site to Eclipse"
@m-reza-rahman's project contains a branch [1] which defined the GitBook WebSite for CargoTacker. We need to move this branch here and to enable the GitBook function.

During the migration the WebSite needs to be updated for the transaction javax --> jakarta. This includes also the rename of Cargo's packages from net.* to jakarta.*.

1. https://github.com/m-reza-rahman/cargo-tracker/tree/gh-pages

[2020-06-15 23:14] thadumi commented on #6
@m-reza-rahman this can be close. After I'll do some test with the embedded we can discuss again about adding it or not

[2020-06-15 23:21] thadumi commented on #8
This could be a good starting point for improving the UI and also migrating to newer Prime Faces versions.

@m-reza-rahman, what about splitting the work into three streams and asking one of the guys if they'd like to improve this aspect?  I'll try my best to delivery the first version by this week so that hey could start properly.

Here there is also the issue regarding the mobile application fre

[2020-06-15 23:22] thadumi commented on #10
This can be closed @m-reza-rahman

[2020-06-15 23:27] thadumi commented on #13
@m-reza-rahman is this a valid backlog?

[2020-06-15 23:29] thadumi commented on #14
@m-reza-rahman this a good improvement which can be added to the backlog list

[2020-06-15 23:35] thadumi commented on #15
An interesting point is your question about adding support for an offline mode. For now I'm tracking this in the issue https://github.com/eclipse-ee4j/cargotracker/issues/8 . So we can close this and open another one later.

@m-reza-rahman

[2020-06-15 23:38] edbratt commented on #94
Thank you for taking the initiative with this work. It is really appreciated.

Contribution of any significance (I'd presume there is a fair number of files in the gh-pages branch) will need to be vetted by the Eclipse EMO and their IP clearance process. Please read [these sections](https://www.eclipse.org/projects/handbook/#ip-initial-contribution), prior to committing this content.

It shouldn't

[2020-06-15 23:41] thadumi commented on #94
Thanks for the information @edbratt

[2020-06-16 01:02] m-reza-rahman commented on #94
Yes, I will take care of this - no problem.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:24] m-reza-rahman commented on #15
I think this is a very low priority issue that we can tackle after the initial Java EE 7, Jakarta EE 8 and Jakarta EE 9 issues. What David did with PrimeFaces Mobile is pretty decent.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:33] m-reza-rahman commented on #13
Definitely a backlog item. I specifically had DeltaSpike Data in mind.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:35] m-reza-rahman commented on #84
We currently do not support WildFly. We can revisit this at a later point in time.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:35] #84 closed

[2020-06-16 21:36] m-reza-rahman commented on #76
We should look to support Eclipse. I believe Maven support has improved at this point.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:36] #76 closed

[2020-06-16 21:38] m-reza-rahman commented on #58
We currently have no plans to support Oracle DB.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-16 21:38] #58 closed

[2020-06-16 21:48] thadumi commented on #16
@m-reza-rahman we already discussed about the security and LDAP (it would be a good use case for the users of the mobile interface) as future improvements. I'd like to give this an high priority. Of course after the release of Jakarta 9 version.

[2020-06-16 21:53] m-reza-rahman commented on #16
Yes, we can do this as part of our Jakarta EE 8 release. Probably just using the same database we use now for simplicity.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-17 23:21] m-reza-rahman commented on #10
It's fine to close for now. We can add non-Java EE libraries as it makes sense.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-17 23:21] #10 closed

[2020-06-17 23:26] m-reza-rahman commented on #8
Yes, at the bare minimum we should probably look to upgrade the PrimeFaces version and fix the PrimeFaces Mobile issue. I'll ask the folks if this is something they would like to do.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-17 23:28] m-reza-rahman commented on #6
To be honest, our tests are very inadequate for a reference project. We definitely need to improve that. However, this can be done after the Jakarta EE 9 release.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-18 01:41] m-reza-rahman commented on #94
Just to be clear, there are two parts to this:

* Moving the temporary gh-pages website from here: https://github.com/m-reza-rahman/cargo-tracker/tree/gh-pages. Here is the current rendering: https://m-reza-rahman.github.io/cargo-tracker/.
* Moving the temporary GitBook docs from here: https://github.com/m-reza-rahman/cargo-tracker-documentation. Here is the current rendering: https://cargo-tracke

[2020-06-19 00:58] thadumi opened #95 "Migration from PrimaFaces 6.2 to 9.0"
PrimeFaces Mobile was completely removed in 7.0

Thus, before moving forward the UI/UX #56 we need to rewrite from starch the interface using PrimeFace 9.0 APIs.

1.  https://www.primefaces.org/primefaces-6-2-roadmap/

[2020-06-19 15:20] erickdeoliveiraleal commented on #95
Migration guide: https://github.com/primefaces/primefaces/wiki/Migration-Guide

[2020-06-21 01:32] m-reza-rahman opened #97 "Incorporate the Date-Time API"
This will require testing to make sure it works with JPA, Bean Validation and JSF.

[2020-06-21 01:35] m-reza-rahman opened #98 "Incorporate SSE"
Currently we are using WebSocket, which is overkill.

[2020-06-21 01:39] m-reza-rahman opened #99 "Move to Jakarta EE 10"
Essentially update namespaces. There may be some Java SE 11 features that may be applied.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-06-21 12:32] nishantraut commented on #94
Hi @m-reza-rahman and @thadumi If i understand ask here correctly we need to move https://github.com/m-reza-rahman/cargo-tracker/tree/gh-pages to https://github.com/eclipse-ee4j/cargo-tracker/tree/gh-pages. And second we need to move https://github.com/m-reza-rahman/cargo-tracker-documentation to https://github.com/eclipse-ee4j/cargo-tracker-documentation. First is find raising PR but second requi

[2020-06-21 13:10] nishantraut commented on #94
For first i need someone to create new branch gh-pages here then only i will be able to raise PR. As while raising PR i am getting "There isn’t anything to compare. eclipse-ee4j:master and nishantraut:gh-pages are entirely different commit histories."

[2020-06-21 13:11] thadumi commented on #94
Basically yes. But we cannot do it now, we are still waiting for some feedback from EMO.

[2020-06-21 13:15] thadumi commented on #94
Thanks for the initiative @nigeldeakin . We cannot do it right now because we are still waiting for some feedback from EMO. As soon as we have their approval we can move forward and receive your PR.

[2020-06-21 13:16] nishantraut commented on #94
Ok thanks @thadumi Please let me know once new branch gh-pages in this repo is created for first and for second new repo cargo-tracker-documentation under /eclipse-ee4j/

[2020-06-21 13:18] thadumi commented on #99
So for Jakarta 8 we are introducing the new features form Java 8 and the Jakarta 9 version will require Java 11+, right?

[2020-06-21 16:22] m-reza-rahman commented on #99
Yes, that's the idea. Jakarta EE 9 targets Java SE 11, so it is fine to begin applying those features at that point (though I imagine these changes would be very small). Jakarta EE 8 targets Java SE 8, so it is best to stick to that version for the Jakarta EE 8 release (and there are many places where Java SE 8 features will apply).

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Ple

[2020-06-21 16:50] ggam commented on #99
Does it really make sense to maintain two versions, one for Jakarta EE 8 and other for EE 9? Isn't it better to just move towards 9 with Java 11?

[2020-06-21 16:51] m-reza-rahman commented on #94
To be clear, the website will go into the gh-pages branch (which I just created). I would like for the GitBook content to be in the docs branch (which I also just created). Using a docs branch possibly won't work, but we should explore if it can be done. What I know will definitely work is using a docs/ directory under the master branch. That can be the fallback plan.

Do keep in mind, the initial

[2020-06-21 17:03] m-reza-rahman commented on #99
One of the most frequent requests for the original Cargo Tracker project was supporting various versions of the specifications as people are most often not using the latest. It is a bit too much work to try to support Java EE 6 now, but Java EE 7, Jakarta EE 8 and Jakarta EE 9 should be easy. That said, the older versions will be separate branches from which we will do releases (and possibly back-

[2020-06-21 17:09] ggam commented on #99
Makes sense. I'm keeping an eye on this repository and will try to contribute where possible.

[2020-06-21 17:18] m-reza-rahman commented on #99
To be honest, we first need to stabilize the project and have a solid Java EE 7 initial release including resurrecting the website and documentation. The code base is now old so we need to make sure it's dependencies still work. Also, there are many bugs that were never properly resolved. Theo has been doing a pretty good job taking care of the code and maybe Nishant can help us with the website a

[2020-06-21 17:45] thadumi commented on #94
I agree with the idea but how we should do that? Could it be a solution cargo-tracker.gitbook.io/{$VERSION}/documentation

[2020-06-21 17:55] m-reza-rahman commented on #94
I was hoping to just have one documentation for all the versions much like the website. I don't think this material needs to change that much from version to version (and we can simply disambiguate sensibly between Java EE and Jakarta EE in the text, favoring Jakarta EE most of the time as the go-forward technology). However, if we have to use a docs directory under each branch, that will certainl

[2020-06-21 20:56] thadumi commented on #95
@m-reza-rahman I'm working on this. Could you please remove the labels and assign it to me?

Thanks

[2020-07-07 20:07] keilw commented on #76
@ivargrimstad @m-reza-rahman It's a bit ironic, that Eclipse support is dropped here, what is the rationale. everyone and every IDE happy with Maven?

[2020-07-07 20:17] thadumi commented on #76
It's an old issue from the original project. I don't think that it's relevant anymore. Now every IDE should be able to handle this project properly.

[2020-07-07 20:20] m-reza-rahman commented on #76
Theo is correct. This is why the issue is already closed.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-07-07 20:21] keilw commented on #76
OK, not sure, if I tested it personally, but if others have, then it sounds fine.

[2020-07-07 20:47] m-reza-rahman commented on #76
Yes, I have tested it. It works fine now. We do need to add the Eclipse documentation in addition to NetBeans (or perhaps even drop NetBeans).

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-07-09 00:45] m-reza-rahman commented on #94
FYI, we now have IP clearance to proceed. I merged and will polish/set things up once the code is stabilized. Thanks Nishant!

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-07-13 14:29] nishantraut commented on #94
Hi @m-reza-rahman, Do we have anything pending on this issue, please let me know if anything else I can help with.

[2020-07-13 16:15] m-reza-rahman commented on #94
Definitely will do! Right now, focusing with Theo on code stabilization.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-07-19 03:41] nakumgaurav opened #102 "Database Exception"
I am using NetBeans IDE. I set the profile to payara, maven goal to cargo:run, added Glassfish 4.1 server, build the project and then on running with the goal cargo:run it throws up this exception:

[code]

Any idea what I may be missing?

Thanks!

[2020-07-19 16:16] m-reza-rahman commented on #102
We will take a look. To be honest, in general the project needs stabilization and an initial stable release. Hopefully that will sort most things out. Theo is working on major stabilization right now. After that, I will go through a round of clean up too.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and

[2020-07-19 17:53] thadumi commented on #102
Hi @nakumgaurav ,
could you please to run it from the command line outside the IDE with `mvn package cargo:run`?

I cannot reproduce the error. I think it's something regarding the NetBeans configuration. Could you give me your .nb-configuration (it's inside the project's root)?

[2020-07-20 08:44] nakumgaurav commented on #102
Hi @thadumi , I had also tried using the command line but it threw the same exception as above.

Here's the content of my nb-configuration file:

[code]

[2020-07-25 19:16] thadumi commented on #95
@m-reza-rahman we can close this issue

[2020-07-25 19:16] thadumi commented on #95
Done in #103

[2020-07-25 19:17] thadumi commented on #95
Done in #103

[2020-07-25 19:17] #95 closed

[2020-07-25 19:20] thadumi commented on #87
@m-reza-rahman we can close this issue

[2020-07-25 19:21] thadumi commented on #79
@m-reza-rahman this can be closed

[2020-07-25 19:25] thadumi commented on #73
@m-reza-rahman this can be closed

[2020-07-25 19:27] thadumi commented on #72
@m-reza-rahman I think we should close this and reopen it as a feature for the JakartaEE 8 release

[2020-07-25 19:36] thadumi commented on #75
@m-reza-rahman, I think right now we should focus on Payara and only later start to run it also on other platforms. We could close this.

[2020-07-25 19:36] thadumi commented on #70
We can close this, @m-reza-rahman

[2020-07-25 19:38] thadumi commented on #71
We can close this @m-reza-rahman

[2020-07-25 19:39] thadumi commented on #67
this can be closed @m-reza-rahman

[2020-07-25 19:40] thadumi commented on #65
This is the same as #72. Thus we can close it. @m-reza-rahman

[2020-07-25 19:41] thadumi commented on #62
This can be closed @m-reza-rahman

[2020-07-25 20:50] m-reza-rahman commented on #87
Closed.

[2020-07-25 20:50] #87 closed

[2020-07-25 20:51] m-reza-rahman commented on #79
Closed.

[2020-07-25 20:51] #79 closed

[2020-07-25 20:51] m-reza-rahman commented on #73
Closed.

[2020-07-25 20:51] #73 closed

[2020-07-25 20:52] m-reza-rahman commented on #72
Closed.

[2020-07-25 20:52] #72 closed

[2020-07-25 20:53] m-reza-rahman commented on #75
Closed.

[2020-07-25 20:53] #75 closed

[2020-07-25 20:53] m-reza-rahman commented on #70
Closed.

[2020-07-25 20:53] #70 closed

[2020-07-25 20:53] m-reza-rahman commented on #71
Closed.

[2020-07-25 20:53] #71 closed

[2020-07-25 20:54] m-reza-rahman commented on #67
Closed.

[2020-07-25 20:54] #67 closed

[2020-07-25 20:54] #65 closed

[2020-07-25 20:55] #62 closed

[2020-07-26 12:52] thadumi commented on #63
This can be closed @m-reza-rahman

[2020-07-26 14:15] thadumi commented on #8
this has been done in #103

[2020-07-26 19:57] #8 closed

[2020-08-03 09:09] hantsy commented on #97
Java 8 Date Time should be aligned with Java EE8/Jakarta EE 8.

[2020-08-06 04:17] chainhead opened #104 "Application not launched"
Here is the output of `mvn package cargo:run`. Nothing comes up at `http://localhost:8080/cargo-tracker`. What is missing?

[code]

[2020-08-29 01:23] thadumi commented on #104
Hi @chainhead , sorry for the delay. There are no errors inside the log you attached, thus I cannot help you with that information. If something is not working you should find an error reported under `[INFO] --- cargo-maven2-plugin:1.7.7:run (default-cli) @ cargo-tracker ---` .

[2020-09-08 07:46] chainhead commented on #104
Well, no more logs are generated after generating the `.war`. So, I am not sure if the application is launched or waiting for something...

[2020-09-08 15:40] m-reza-rahman commented on #104
I suggest scheduling a screen sharing session. That often is quicker in getting to the bottom of things. I am not having any issues either. This could be an environment or platform specific thing.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-09 02:52] chainhead commented on #104
@m-reza-rahman  @thadumi
I can, maybe, share a screen-recording. ;)

In the meantime, I can see the command completes and here is the error.

[code]

This is on MacOS Catalina.

[2020-09-09 04:08] chainhead commented on #104
This SO question [Maven with Cargo and Installed Glassfish](https://stackoverflow.com/a/60641636/919480) refers to removal of password. Didn't help.

This SO question [The JavaEE 8 Tutorial, deploy failed on hello1 project](https://stackoverflow.com/q/46648971/919480) refers to changing the parent POM. But, in my `pom.xml`, I don't see `glassfish.home` at all!

There are some other articles that r

[2020-09-09 16:50] m-reza-rahman commented on #104
In this case, the Payara/GlassFish logs will be a bit more useful than the Maven output.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-09 17:34] thadumi commented on #104
@m-reza-rahman's right.

You should find the log in `./cargotracker/target/cargo/configurations/glassfish4x/cargo-domain/logs/server.log`

[2020-09-10 09:35] chainhead commented on #104
`cargotracker/target/cargo/configurations/glassfish4x` has `password.properties` only - no other files or folders.

[2020-09-10 15:08] thadumi commented on #104
This is odd. Could you check if the download of Payara was completed correctly?

The download is inside `cargotracker/target/cargo/installs/payara-4.1.2.181/payara41/glassfish`, then inside `bin` you should find asadmin. Please, for checking that Payara is running without problems try `./asadmin start-domain --verbose` and then deploy manually the war.

[2020-09-10 17:48] m-reza-rahman commented on #104
I would reset things by deleting the target directory. My guess is that the Payara download was interrupted somehow. It is a sizable download and does not happen quickly, especially if the connection speed is slower.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer

[2020-09-15 06:45] chainhead commented on #104
Firstly, not a single file in the `target/cargo/installs/payara-4.1.2.181/payara41/glassfish/bin` had execute permissions. I set the permissions with a `chmod +x`. Then, when I did run `./asadmin start-domain --verbose`, I get this error

[code]

[2020-09-15 06:50] chainhead commented on #104
After `rm -rf target`, I did a `mvn package cargo:run` and this is the result.

[code]

[2020-09-15 22:14] m-reza-rahman commented on #104
I would inspect the logs now to see what is actually happening. In the meanwhile, can you please tell me what OS and Java version you are using? Let me see if this is a platform problem or something specific to your environment. This may be an issue that needs to be filed with the Payara folks in the worst case.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expres

[2020-09-16 04:39] chainhead commented on #104
@m-reza-rahman

This is on MacOS 10.15 and Java is 12.

[code]

[2020-09-16 04:44] chainhead commented on #104
Sorry...where are the logs? `cargotracker/target/cargo/configurations/glassfish4x` has `password.properties` only - no other files or folders.

[2020-09-16 18:28] m-reza-rahman commented on #104
I am honestly not sure I have a very clear picture of what is going on in this case. What normally happens is that the Maven Cargo plugin will unzip Payara and execute via asaadmin. Once that happens, you will find the logs where they usually are for a Payara configuration under cargotracker/target/cargo/configurations/glassfish4x/cargo-domain/logs. Let me first try this out on a Mac. After that,

[2020-09-17 00:27] m-reza-rahman commented on #104
I was able to reproduce the issue on the Mac. Next I will try to see if this is an issue specific to Payara 4. Either way, I will file a bug with Payara. In the meanwhile, I suggest deploying via an IDE instead.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 22:29] m-reza-rahman commented on #104
I have started a thread on this with the Payara Forum: https://groups.google.com/g/payara-forum/c/0Vkk2VKVfJI. For now, I have removed Cargo from the instructions to avoid confusion.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 22:59] m-reza-rahman commented on #102
This is the same as this issue: https://github.com/eclipse-ee4j/cargotracker/issues/104. It appears the Maven Cargo plugin really does not work with Payara that well. As a result I have removed the cargo:run instructions for now to avoid confusion. Could you kindly try it in NetBeans using the Payara plugin instead: https://docs.payara.fish/enterprise/docs/5.20.0/documentation/ecosystem/netbeans-p

[2020-09-20 23:03] m-reza-rahman commented on #68
I don't think this really makes much sense. The mobile UI is intended to add events to routed cargo.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 23:03] #68 closed

[2020-09-20 23:10] #63 closed

[2020-09-20 23:13] m-reza-rahman commented on #61
Closing this for now. There is not enough detail.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 23:13] #61 closed

[2020-09-20 23:16] m-reza-rahman commented on #60
Closing this for now. Not enough detail to reproduce the issue.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 23:16] #60 closed

[2020-09-20 23:21] m-reza-rahman commented on #25
Too low of a priority for now.

[2020-09-20 23:21] #25 closed

[2020-09-20 23:23] m-reza-rahman commented on #30
Too low of a priority. Let's close this for now.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 23:23] #30 closed

[2020-09-20 23:28] m-reza-rahman commented on #46
Not enough detail to reproduce.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-20 23:28] #46 closed

[2020-09-22 12:52] Cousjava commented on #104
The reason for the failure is that you trying to run Payara on JDK 12. Payara does not support JDK12. Payara 4 which looks to be the version you are using is only supported on JDK 8, and Payara 5 is supported on JDK 8 and JDK 11.

[2020-09-22 19:25] m-reza-rahman commented on #104
It is certainly a worthy experiment to try with JDK 8. I tried and it still failed for me unfortunately on the Mac and on Linux.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-24 14:27] chainhead commented on #104
Hmm....where do we go from here?

[2020-09-25 08:23] Cousjava commented on #104
I tested it locally, and `cargo:deploy` works fine for an already running Payara domain, but `cargo:start` and `cargo:run` fail. Updating the version of cargo plugin allows it to work. I've made a PR to update the versions of the cargo plugin and update the Payara version to the Jakarta EE 8 version.

[2020-09-26 09:54] alexmario74 commented on #64
Hi, I would like to try to work on this issue.

[2020-09-27 04:15] m-reza-rahman commented on #64
I have assigned the issue to you. Please go ahead? If it helps to set up a meeting, I am happy to do so.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-27 04:20] m-reza-rahman commented on #104
Did you try updating just the cargo version and not the Payara version? The objective right now is to support Java EE 7 and Payara 4 users for the first stable release.

Until we sort this out properly, I would suggest simply utilizing the IDE instructions. I have removed the Cargo instructions now until we can stabilize it.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note

[2020-09-27 16:10] thadumi commented on #64
@m-reza-rahman don't worry. I'll take care of it.
@alexmario74 it's a member of one of the JUG of  which I'm also a member.

[2020-09-27 23:26] m-reza-rahman commented on #104
I think I have sorted this out reliably. I have updated the code base and cargo:run instructions in the README. Please update and try it out.

I am closing this for now to maintain hygiene. If there is still an issue, please re-open.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the vie

[2020-09-27 23:26] #104 closed

[2020-09-27 23:29] m-reza-rahman commented on #102
I think I have sorted this out reliably. I have updated the code base and cargo:run instructions in the README. Please update and try it out.

I am closing this for now to maintain hygiene. If there is still an issue, please re-open.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the vie

[2020-09-27 23:29] #102 closed

[2020-09-29 03:03] chainhead commented on #104
I will try this out. In the meantime, can you please elaborate this instruction?

Does the instruction mean, a Payara installation should exist in advance? I thought `cargo:run` will do that automatically?

[2020-09-29 03:50] m-reza-rahman commented on #104
All you need to have installed is Java SE 8 and Maven. Just please make sure to set JAVA_HOME.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-29 23:14] thadumi commented on #98
It is however WebSockets are wildly used nowadays.  Thus I think we should leave the WebSocket for the sake of POC.

[2020-09-29 23:51] m-reza-rahman commented on #98
OK, let's leave it then. I will close the issue for now.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-09-29 23:51] #98 closed

[2020-09-30 21:39] m-reza-rahman opened #107 "Fix event registry interface workflow"
The event registry workflow and validation isn't quite correct at the moment. There are the following key bits of data for each event registry:

* Event type
* Event timestamp
* Tracking ID
* Voyage
* Location

Generally speaking cargo goes through these events:

* It's received at the origin port.
* It's loaded and unloaded onto voyages on it's itinerary.
* It's claimed at it's destination port.

[2020-09-30 21:50] m-reza-rahman opened #108 "Live map does not load"
The live map intermittently does not load. So far I have been able to reproduce the issue on Chrome, Edge and Firefox. This did not use to be the case. We should fix this before our first stable release.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-01 00:56] thadumi commented on #108
During our call on Firefox Developer Edition was working, I'll look into it....

[2020-10-01 00:58] thadumi commented on #107
@alexmario74 this is the issue I anticipated you. Let me know if you want to do it

[2020-10-01 06:20] alexmario74 commented on #107
@thadumi fine, I would like to work on this.

[2020-10-03 00:19] thadumi commented on #43
This should be done along #97

[2020-10-08 23:51] m-reza-rahman commented on #107
Testing the recent change, I am unable to get a load event to work. The only events that show are customs and receive. Can you kindly confirm?

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-08 23:52] m-reza-rahman commented on #64
I have tested the change and it works.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-08 23:52] #64 closed

[2020-10-09 06:10] alexmario74 commented on #107
I think I missed one rule here.

I confirm that, right now a cargo can only be received on the origin port.

Maybe that should change after a receiving event was done.

So, first run:
 * cargo start and go to the origin port
   - CUSTOM
   - RECEIVE
 * cargo is received and still in the origin port
   - CUSTOM
   - LOAD

Not sure if UNLOAD is needed here.

[2020-10-09 06:16] alexmario74 opened #110 "Event registry workflow: list ports that are part of the cargo voyage"
In the Event Registry you can only select cargos that have a voyage selected, so we know that those cargos are not going to arrive on any port, just those that are part of the selected voyage.

It would be good to filter the port list on only those relevant ports, so to avoid a long list.

Another improvement task can be to have the port with the name of the city instead of just the code.

For exa

[2020-10-09 13:56] m-reza-rahman commented on #107
It sounds like I need to explain the domain logic a bit more. The application allows for the possibility that cargo is temporarily on a route that does not match it's itinerary. In fact, it is possible cargo can be completely mishandled and received or claimed at the wrong ports. Of course none of this is ideal, but it can happen.

All we need to do in the UI is some very basic data validation, no

[2020-10-09 20:13] alexmario74 commented on #107
Ok, thansk @m-reza-rahman it's ok to open a new PR to fix this?

[2020-10-10 01:36] m-reza-rahman commented on #107
Yes, of course!

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-10 01:41] m-reza-rahman commented on #110
The USNYC -> New York City (USNYC) change is good. As explained in the other issue, let's not actually try to enforce the itinerary in the UI? Just some basic validation is actually all that is needed...

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-10 08:13] alexmario74 commented on #110
Fine I will just do the change of the port name + code to make it easy to select it.

[2020-10-10 18:31] #107 closed

[2020-10-10 18:53] m-reza-rahman commented on #110
Tested and looks good. Well done!

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-10 18:53] #110 closed

[2020-10-11 19:53] #108 closed

[2020-10-16 12:07] erickdeoliveiraleal opened #117 "Move to JSF 2.2+ HTML5 syntax"
Include a file to activate JSF 2.3 features:
[code]

https://stackoverflow.com/a/53172876/2882383

[2020-10-17 07:19] alexmario74 commented on #97
This issue has to be fixed in the jakartaee8 branch, right?

[2020-10-17 16:04] m-reza-rahman commented on #97
Yes, for now. Could you please sync that branch with master too?

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-18 17:02] m-reza-rahman opened #118 "Update demo video"
We need to update and reference this in our docs: https://www.youtube.com/watch?v=lLaNa46mqfY.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-18 20:37] thadumi commented on #118
Thus, one of us should record another video using that one as reference. And then, we should be asking to upload it to the Jakarta EE channel, right?

[2020-10-19 17:37] m-reza-rahman commented on #118
That's the idea. Once we are closer to a stable release (I am running across a few hiccups with the docs and website), I was going to ask @edburns to record it for us.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-19 20:54] thadumi commented on #118
May I help you?

Cool, he sure can do a better job than mine

[2020-10-19 23:53] m-reza-rahman commented on #118
To be honest most of what I am working on is bureaucracy with third-parties. It is not too much fun. I think development wise it is best to focus on getting us ready for major work on the Jakarta EE 8 branch.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-23 05:21] chainhead commented on #104
@m-reza-rahman  Finally, found time to test with Java 8; it is working now. Many thanks for your help!

[2020-10-25 18:37] alexmario74 commented on #97
I'm almost there with this ticket.

Unfortunately the tests are not working right now as there is an issue with the Derby dependency.

I try with an installation of Payara 5 and be able to run the code successful only adding the Derby dependency directly on the container lib folder and restart it.

I added the dependency on the pom file with test scope, but that didn't work either.
@thadumi  is he

[2020-10-25 20:32] m-reza-rahman commented on #97
We don't necessarily need to stick with Derby. What is the default database in Payara 5? If it's something like H2, it's probably easier to switch to that and avoid yet another library dependency complexity.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-26 01:16] thadumi commented on #97
Indeed Payara 5 uses internally H2

Thanks for the hint

[2020-10-26 01:47] m-reza-rahman commented on #94
The website is now resurrected: https://eclipse-ee4j.github.io/cargotracker/. Still waiting to sort out GitBook and maybe a better domain name. Please take a look in the meanwhile?

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-10-27 11:34] thadumi opened #122 "New migration section in the documentation"
Create a section in the documentation regarding the changes that has been done for migrating from Java EE 7 to Jakarta EE 8, and also in the future for the next versions.

This might help also other folks trying to migrate their projects

@alexmario74,  do you mind keeping track of the changes / issues you are facing? If @m-reza-rahman thinks could be a good idea adding the new section.

[2020-10-27 14:24] m-reza-rahman commented on #122
I would assign this low priority as opposed to getting the changes done and maintaining mostly the current content (I suspect what most people will need is more IDE and application server support). In reality, all we will be doing is adopting newer APIs/features, which is well documented elsewhere. That said, we can draft it and see how compelling it actually is (and if it is worth maintaining).

[2020-10-27 21:28] thadumi opened #123 "Use Payara Server embedded with Arquillian"
Right now testing Cargo it's a bit tedious because you have to have an instance of Payara running. It is required by Arquillian for deploying each War archive.

The goal of this issue is to find a configuration within Maven's life-circle for instancing the Payara environment before the test and shut it down at the end.

_Originally posted by @thadumi in https://github.com/eclipse-ee4j/cargotracker

[2020-10-27 21:35] thadumi commented on #122
I agree, however it's something that we notice along the way of getting the changes done. So tracking them right now in a raw way will be useful for a future draft and also as a memento.
For example the issues with H2 and Derby might be worth mentioning.

[2020-11-03 18:03] m-reza-rahman commented on #94
Unfortunately we are unable to use GitBook right now. @thadumi, do you mind moving the contents of the docs branch to the Wiki? The current contents of the Wiki can be incorporated into the documentation. The docs branch can then be deleted for now. Once that's all done, I'll update the website accordingly.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed h

[2020-11-03 20:12] thadumi commented on #94
Sure, no problem

[2020-11-03 20:12] thadumi opened #124 "Moving the contents of the docs branch to the Wiki"
Unfortunately we are unable to use GitBook right now. @thadumi, do you mind moving the contents of the docs branch to the Wiki? The current contents of the Wiki can be incorporated into the documentation. The docs branch can then be deleted for now. Once that's all done, I'll update the website accordingly.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed h

[2020-11-07 02:09] thadumi commented on #124
@m-reza-rahman for now I'm closing this.

[2020-11-07 02:09] thadumi commented on #124
@m-reza-rahman for now I'm closing this.

[2020-11-07 02:09] #124 closed

[2020-11-07 02:37] m-reza-rahman commented on #124
OK, I'll take a look ASAP and make any necessary updates.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-07 03:00] m-reza-rahman commented on #124
I am a bit confused I'm afraid. Did you get the contents from here: https://github.com/eclipse-ee4j/cargotracker/tree/docs or my old repo?

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-08 04:15] thadumi commented on #124
My upstream is Eclipse's repo, however now that you mention it I don't see your last changes. I'm afraid I've forgot to do some pull before using my local clone. And Indeed this is the case. I'll check your changes and fix it.

[2020-11-08 04:18] m-reza-rahman commented on #124
OK, let me know when you are done and I will review again. If it's helpful, you can re-open this issue. Up to you.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-16 17:19] m-reza-rahman commented on #94
I am declaring this done for now.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-16 17:19] #94 closed

[2020-11-16 17:20] m-reza-rahman commented on #6
Looks like Arquillian now supports JUnit 5. We should upgrade when we can.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-17 00:35] thadumi opened #125 "Adopt JUnit5"
Looks like Arquillian now supports JUnit 5. We should upgrade when we can.

[2020-11-27 14:33] hantsy commented on #123
Payara arquillian support managed, remote, embedded mode to run Arquillian, I have configured a Github actions workflow  to run my tests against **Payara managed container**, check https://github.com/hantsy/jakartaee8-starter/blob/master/.github/workflows/it-with-arq-payara-managed..yml

[2020-11-27 14:44] hantsy commented on #13
Apache DeltaSpike was focusing on Java EE 6 and 7, but seems not active as before.

[2020-11-27 14:48] hantsy commented on #117
And move to HTML5 syntax as possible. see: https://github.com/hantsy/jakartaee-faces-sample/blob/master/src/main/webapp/form.xhtml#L27

[2020-11-27 14:53] hantsy commented on #125
It is better to postpone this to Jakarta EE 9,  1.7.0.Alpha1 added Jakarta EE 9 and JUnit 5 support.
Check: https://github.com/hantsy/jakartaee9-starter-boilerplate/blob/master/pom.xml#L757-L858

[2020-11-27 14:56] hantsy commented on #32
Dockerizing it and depoying to Azure or OpenShift? I think this can be done in a CI service.

[2020-11-28 23:03] m-reza-rahman opened #128 "Apply repeatable annotations"

[2020-11-29 22:15] thadumi commented on #123
Thanks @hantsy , indeed for testing I'd like to use the embedded mode

[2020-11-29 22:26] m-reza-rahman opened #129 "Use lambdas and streams"
Quite a bit of the code can be updated this way. It's pretty old style of iterative code right now.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-29 22:31] m-reza-rahman opened #130 "Use SSE instead of WebSocket"
When we first wrote the application we used WebSocket since SSE was not standardized yet. In reality, our current use of WebSocket is not that appropriate since it is not actually bi-directional communication. We should adopt SSE instead now that it is available in Jakarta EE 8.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individu

[2020-11-29 22:36] m-reza-rahman opened #131 "Adopt JSON Binding"
We can remove the GlassFish/Payara specific JSON dependencies with Jakarta EE 8.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-29 22:38] m-reza-rahman opened #132 "Adopt async CDI events"
With Jakarta EE 8, there is no reason for the CDI events to be synchronous.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-11-30 01:28] m-reza-rahman opened #133 "Create tracking functionality specific to booking interface"
Currently the tracking interface is invoked from the booking interface. This was a hack and really does not fit well with the architecture. We need to create separate tracking functionality within the booking interface that is properly architected and is consistent with the rest of the booking interface code.

The functionality should be separate too. For example, showing all the tracking codes in

[2020-11-30 02:11] hantsy commented on #123
@thadumi https://github.com/hantsy/jakartaee8-starter/blob/master/.github/workflows/it-with-arq-payara-embedded.yml

[2020-12-05 09:36] alexmario74 commented on #133
May I work on this?

[2020-12-05 18:38] m-reza-rahman commented on #133
Please feel free. Assigned to you now.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-12-10 16:51] thadumi commented on #133
It seams to me that tracking is already independent between public and admin.

Are you talking about  the live map?

[2020-12-10 18:07] m-reza-rahman commented on #133
If I remember correctly, only the Facelet pages are separated. The Java code is still very much intertwined. What we need to do is add the tracking functionality to the interface level Java code using it's architecture conventions. Let me know if we should discuss the details in a call and investigate together.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views express

[2020-12-11 18:38] alexmario74 commented on #133
To help the discussion, I created a pull request with my commits.

[2020-12-12 21:41] m-reza-rahman commented on #133
I'll take a look ASAP and provide feedback.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2020-12-17 09:00] alexmario74 commented on #133
So, I opened a new PR with an attempt to separate the Java code.

I was thinking about introducing a map in the public tracking page, using the work from @thadumi , but don't want to add to much noise on this part.

When the Java code is fixed properly, then I can work on that part of course.

[2020-12-20 11:21] ggam opened #151 "Replace EJB with CDI equivalents where possible"
Some examples:
`@Stateless` on REST resources -> `@RequestScoped`.
`@Stateless` where transactions are needed -> new `@RequestScoped @Transactional` stereotype.
`@Startup` -> @ContextInitialized(ApplicationScoped.class) event.

I can take care of this, but I'm unsure which branch should I use (`master`?).

[2020-12-20 14:23] thadumi commented on #151
Yes, you should work on the master branch.

[2020-12-20 16:56] ggam opened #153 "Add Derby dependency"
The application doesn't deploy on Payara 5 as Derby has been replaced with H2 on latest versions. The use of Derby is an implementation detail. In order to ensure portability, this should be declared in pom.

[2020-12-20 18:23] m-reza-rahman commented on #153
This is being worked on as part of the Jakarta EE 8/Payara 5 migration. We can close this when that work is done.

The documentation is already fairly clear Payara 5 is not supported yet. I think that's adequate for now. Once we begin to target multi-server deployments, we can revisit how to best handle the database dependency.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please n

[2020-12-20 18:36] m-reza-rahman commented on #151
While I understand the desire to remove EJB annotations, the reality is that we cannot do that fully right now. I think it's best to leave this alone for now and just use EJB for consistency where applicable. As such it's not doing much harm and does add some value added vendor-specific features like monitoring, thread-safety, bandwidth throttling/pooling.

We can revisit this once we have a few m

[2020-12-20 22:25] thadumi commented on #153
I'm very aware of it. It has aleadry been discussed here https://github.com/eclipse-ee4j/cargotracker/issues/97#issuecomment-716191770 and it took care of it in a Cargo's fork https://github.com/alexmario74/cargotracker/pull/1

Also I've already prepared a PR for fixed those kind of issues for when we'll move to Jakarta EE 8. Thus we could close this issue, although I'll leave it open as a reminde

[2020-12-22 13:07] hantsy commented on #153
For a demo application, I prefer the **default** DataSource. It works seamlessly on all application servers.

[2020-12-22 16:33] m-reza-rahman commented on #153
To be clear, Cargo Tracker is something a bit different from Pet Store, etc. Beyond a Jakarta EE demo, it is intended to show some best practices for realistic enterprise applications.

The practical problem is that the default database is often not intended for production usage. That's why we opted not to use it and show database configuration explicitly. Nonetheless we made a compromise by using

[2020-12-23 03:40] hantsy commented on #153
@ggam I remember Jdbc Driver should be registered standalone in the former Java EE 7. But I tried in an EE 8 example which packaged an H2 driver in a war also worked well with `@DataSourceDefinition`.

@m-reza-rahman I think a production-ready application should leave some room for the configuration(eg. DataSource), in my mind the better way to switch to production is by providing different profil

[2020-12-23 12:23] m-reza-rahman commented on #153
Great, we can try to see if we can embed H2 via Maven when we switch to Payara 5. It is enough of a production-ready database and it will show the basic principle of defining a database.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2021-01-02 00:36] #151 closed

[2021-01-02 06:08] #133 closed

[2021-01-03 12:32] ccristian opened #164 "Running tests"
I have managed to run the application via mvn package cargo:run and works fine

While i try to run the tests mvn -Ppayara -DskipTests=false test I get on the booking service test

-------------------------------------------------------------------------------
Test set: org.eclipse.cargotracker.application.BookingServiceTest
--------------------------------------------------------------------------

[2021-01-03 16:22] thadumi commented on #164
Hi @ccristian ,

yes I'm planing on doing that for also adding a CI/CD pipeline to the project.

Mostly because of the current configuration of Arquillian which is only for testing on a remote application server.

Please check the following discussion for more details  https://github.com/eclipse-ee4j/cargotracker/pull/121#discussion_r513039454 .

[2021-01-03 22:41] m-reza-rahman commented on #164
Closing this as it dependents upon an Arquillian and Payara limitation we cannot realistically address here. Please feel free to open an enhancement request with Payara to support embedded mode with Arquillian.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2021-01-03 22:41] #164 closed

[2021-01-03 23:52] m-reza-rahman commented on #153
Closing this as redundant. This will be addressed anyway as we upgrade to Payara 5 to the extent that it practically can be.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2021-01-03 23:52] #153 closed

[2021-01-11 09:40] rdebusscher commented on #16
I assume when using Java EE 8, the Security API, in combination with LDAP or even better OAuth2/OpenIdConnect is the best option.

[2021-01-11 14:53] m-reza-rahman commented on #16
The original plan was to keep it pretty simple using form based authentication backed by a database (the same database as the application). On the authorization side, the plan was to use simple role based security. I think it all doable via plain Jakarta EE 8/Jakarta Security.

We can of course always evolve things and add more advanced features once we get the basics right.

Reza Rahman
Jakarta E

[2021-01-18 03:01] m-reza-rahman commented on #18
Tests are done for now. I am closing this for cleanup.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2021-01-18 03:01] #18 closed

[2021-02-04 20:04] cotnic commented on #129
Hello @m-reza-rahman. Could I maybe help with this issue? Is issue tracking going on only over GitHub, or are there any Apache Jira issues I should post to?

[2021-02-04 21:16] m-reza-rahman commented on #129
I have assigned you the issue. Let's check with @thadumi and @hantsy here. If they are not doing anything on it, you are good to move ahead.

Reza Rahman
Jakarta EE Ambassador, Author, Blogger, Speaker

Please note views expressed here are my own as an individual community member and do not reflect the views of my employer.

[2021-02-05 03:34] hantsy commented on #129
I think most of the syntax conversion is included in #179 including Java 8 Stream and Lambda, please review it and comment on this PR. If something is missing , I will update it.

[2021-02-05 20:51] cotnic commented on #129
Since it has already been done I'll unassign myself.

Thanks for the heads up @hantsy :)

[2021-02-06 06:18] hantsy commented on #97
H2 driver is done in the former PRs, check https://github.com/eclipse-ee4j/cargotracker/blob/master/pom.xml#L124 and https://github.com/eclipse-ee4j/cargotracker/blob/master/src/main/webapp/WEB-INF/web.xml#L77.

The Java 8 DateTime JSR310 APIs replacement work is included in the existing PR #179 .

[2021-02-06 06:23] hantsy commented on #24
A Github-actions based CI scripts is easy to be added after #179 is merged, and if we want to automate the deployment progress,  we need a Cloud environement for it, Azure or OpenShift?

[2021-02-06 06:27] hantsy commented on #128
Addressed in #179

[2021-02-06 06:32] hantsy commented on #123
After tried to add several application servers to run the testing codes, but the results I got are very different. I do not think Payara embedded or Payara Micro is a good option, some tests are passed in the Payara Managed arquillian container and failed on embedded and Micro.

Check the build results from my fork: https://github.com/hantsy/cargotracker

[2021-02-14 19:46] m-reza-rahman opened #180 "Support WildFly or Open Liberty"
As an alternative to Payara or default runtime.

[2021-02-21 05:13] m-reza-rahman commented on #43
Fixed.

[2021-02-21 05:13] #43 closed

[2021-02-21 18:41] m-reza-rahman commented on #24
This is in OK shape for now. When possible, we should look into enabling tests via an embedded runtime and deploying to the cloud.

[2021-02-21 19:23] m-reza-rahman commented on #131
This seems to be fine for now.

[2021-02-21 19:23] #131 closed

[2021-02-22 01:25] m-reza-rahman commented on #128
Double checked, this is squared away.

[2021-02-22 01:25] #128 closed

[2021-02-22 03:48] m-reza-rahman commented on #14
Fixed.

[2021-02-22 03:48] #14 closed

[2021-02-25 09:13] hantsy commented on #33
This could be done by `@EntityGraph`.  or a join fetch query.

[2021-02-28 21:00] m-reza-rahman commented on #117
This is mostly addressed now. A PR to move to HTML 5 syntax is welcome.

[2021-03-06 09:38] nishantraut commented on #132
Hi @m-reza-rahman In order to support Async event we will need to migrate to Jakarta EE 8 correct

[2021-03-06 10:03] nishantraut commented on #132
Ignore when i forked my local repo was pointing to javaee-7 release.

[2021-03-06 18:30] m-reza-rahman commented on #132
Resolved. I will test the code ASAP and make any changes that might be needed. I will also update the documentation.

[2021-03-06 18:30] #132 closed

[2021-03-06 23:31] m-reza-rahman commented on #129
@cotnic, @hantsy while most of this is indeed addressed, there are spots where they are not. I have annotated the code to indicate where:

`// TODO [Jakarta EE 8] Convert this to streams and lambdas.`

It is a fairly easy fix, although it will require careful regression testing, which I can help with. Since you expressed an interest, I thought I would let you know.

[2021-03-06 23:34] m-reza-rahman commented on #97
This is addressed at this point.

[2021-03-06 23:34] #97 closed

[2021-03-07 06:46] hantsy opened #185 "Bean Validation on method paramters"
I noticed there are a lot of Bean Validation annotations applied to the method parameters in the current codes. But I am not sure they are working well in all components of Jakarta EE.

In my past experience,  the BV annotations work well in the Jaxrs codes(and JPA/Hibernate).  But in other codes, like EJB, CDI, I am not sure it works well.

I know it works in Spring, Spring has already added BV a

[2021-03-07 06:48] hantsy opened #186 "Java 8 Streams and JPA"
#129 clean most of the original `for` clause to `Stream` and `forEach` lambdas.

In the latest JPA 2.2,  the query result can be a `Stream` instead of List.

Do we need to introduce such an example to demonstrate it?

[2021-03-07 07:37] m-reza-rahman commented on #186
What would be a good use case? Please do keep in mind, we are not an "examples" project. We don't need examples of everything - just a sensible set that reasonably fits the domain.

[2021-03-07 07:41] m-reza-rahman commented on #185
Method level validation was added in Java EE 7 for both EJB and CDI. Is there a specific case that is not working as you expect or a specific concern? If so, let us fix that.

[2021-03-10 01:26] #186 closed

[2021-03-10 01:26] #185 closed

[2021-03-13 19:00] m-reza-rahman commented on #129
This is sorted now.

[2021-03-13 19:00] #129 closed

[2021-03-13 21:11] #15 closed

[2021-03-13 21:12] #47 closed

[2021-03-14 00:06] #130 closed

[2021-03-15 02:58] hantsy opened #190 "Coordinates should be part of Location domain?"
I found the new [Coordinates](https://github.com/eclipse-ee4j/cargotracker/blob/master/src/main/java/org/eclipse/cargotracker/interfaces/booking/sse/LocationViewAdapter.java) to record Coordinates of a Location.

I think it is better to make it part of `Location` than using static init.

[2021-03-15 03:02] m-reza-rahman commented on #190
This is currently not a domain concern but merely a UI layer concern. Should it be actually required to be part of the domain logic, it could be moved at that point.

[2021-03-15 03:02] #190 closed

[2021-03-19 02:35] hantsy commented on #180
WildFly/Hibernate is ok in my fork, I have not tried to run it in OpenLiberty.

[2021-03-19 02:54] m-reza-rahman commented on #180
Does it also work with Payara? How about the Arquillian tests? If so, let me create a separate branch and you can issue the PR there. Once I can examine the code and do regression testing to verify everything is OK, we can merge it to master.

[2021-03-19 04:46] hantsy commented on #180
Yes, I added Github Actions to build it and running tests. https://github.com/hantsy/cargotracker/
1. JPA Entities, there are small fixes added due to some Hibernate-specific issues. Check notes in https://github.com/hantsy/cargotracker/blob/master/src/main/java/org/eclipse/cargotracker/domain/model/cargo/Itinerary.java
2. Jackson is used by default in the latest WildFly, but not configure Java 8

[2021-03-19 04:56] hantsy commented on #180
Another issue I found about the LocalDateTime persistence in Hibernate, https://github.com/hantsy/cargotracker/blob/master/src/main/java/org/eclipse/cargotracker/domain/model/cargo/Leg.java#L66, the nano value is different when fetching from db.

Not sure there are some configuration in Hibernate to configure it.

[2021-03-19 12:51] m-reza-rahman commented on #180
I just want to be clear - at this point do you have a codebase that works with both Payara and WildFly? Or is it the case that you have ported the code to WildFly and it no longer works with Payara? If it’s the latter, do you need help achieving the former?

[2021-03-20 14:51] hantsy commented on #180
Yeah, my fork works both Payara and WildFly.

1. The tests passed on both Payara and WildFly. My fork has more tests than the upstream.
2. Manually deployed to WildFly successfully (but I am not sure everything is working well, not tried every links).

[2021-03-20 19:23] m-reza-rahman commented on #180
OK, I have created a 'develop' branch you can issue PRs against. Hopefully we don't have to keep that branch longer term. It is a bit cumbersome.

[2021-03-21 12:16] hantsy commented on #180
WildFly support is availble in #195

[2021-04-07 13:15] hantsy commented on #33
Found a limitation when using `@EntityGraph` in WildFly/Hibernate,

The following definition does not work, https://stackoverflow.com/questions/17431312/what-is-the-difference-between-join-and-join-fetch-when-using-jpa-and-hibernate

[code]

[2021-04-07 13:17] hantsy commented on #33
Use a join fetch in JPQL clause is working, see: https://github.com/eclipse-ee4j/cargotracker/pull/195/commits/aa99ee94c965dd917aba9080c1a5b52a0ac27f13#diff-b37a607550d90f061e56105444a10d95697c2e56e72b4ffe70e4af353ca143cfR51

[2021-04-08 03:02] m-reza-rahman commented on #33
Using join fetch is totally fine. It does not necessarily need to be entity graphs.

[2021-04-11 23:35] m-reza-rahman commented on #123
This is done for now.

[2021-04-11 23:35] #123 closed

[2021-04-11 23:36] m-reza-rahman commented on #24
This is done for now.

[2021-04-11 23:36] #24 closed

[2021-04-13 02:52] m-reza-rahman opened #201 "Support VS Code and NetBeans"
As an alternative to Eclipse IDE.

[2021-04-18 13:53] hantsy commented on #201
Intellij IDEA is more popular.

For VSCode, if there is someone who used VS Code in daily work, add a .vscode folder is ok, including the launch scripts(run, test), code style, recommended extensions. etc.

NetBeans supports Maven out of box, the chanllenge is the united codes style(format).

[2021-04-18 13:55] hantsy commented on #180
Slipt this issue into smaller issues.
Such as:
* Open Liberty Support
* Oracle Weblogic Support

[2021-04-18 13:57] hantsy commented on #33
I think this can be closed when develop branch is merged.

[2021-04-18 16:21] m-reza-rahman commented on #180
I wouldn't say this is a very big priority for us just yet. It is a good way to get contributions though. I would like to keep it as-is for now.

[2021-05-08 16:51] m-reza-rahman commented on #33
There is some initial work on this done here: https://github.com/eclipse-ee4j/cargotracker/tree/wildfly-experimental.

[2021-05-10 17:23] #32 closed

[2021-06-06 03:03] hantsy commented on #180
I tried to run the Cargotracker application on OpenLiberty,

   1. All annotation-based configurations for DataSource and JMS Queue did not work.   Check: https://twitter.com/hantsy/status/1401371324652691457?s=20 and https://twitter.com/hantsy/status/1401369955912781831?s=20
    **I am not sure if the configurations via web.xml are working?**

   2.  MyFaces is another challenge, there are some c

[2021-06-06 03:10] m-reza-rahman commented on #180
Please post questions to the Open Liberty and MyFaces forums?

[2021-06-07 02:03] hantsy commented on #180
Posted in OpenLiberty Gitter channels and groups.io, but Open liberty seems not active as others. In Gitter channels, only a few messages over months.

[2021-06-07 02:04] hantsy commented on #180
Now the main problem is myfaces. For DataSource and JMS config, it seems I have to remove the global prefix(`java:app/`) from its JNDI name to make it work.

[2021-06-07 02:14] hantsy commented on #180
@m-reza-rahman  The portable `@DataSourceDefinition` and `@JMSDestinationDefinition` are required part of the Jakarta EE TCK?

[2021-06-07 03:01] m-reza-rahman commented on #180
I don't know. I would ask on the TCK alias: https://accounts.eclipse.org/mailing-list/jakartaee-tck-dev.

[2021-10-31 21:43] m-reza-rahman commented on #122
Closing this for now to begin focusing on Jakarta EE 9 migration. Will re-open if there is interest.

[2021-10-31 21:43] #122 closed

[2021-10-31 21:45] m-reza-rahman commented on #16
Closing this for now. This might make demos and getting started difficult.

[2021-10-31 21:45] #16 closed

[2021-11-02 15:53] m-reza-rahman commented on #118
Fixed.

[2021-11-02 15:53] #118 closed

[2021-11-09 04:33] hantsy commented on #99
Is anyone starting this task? if nobody did this, I will start a branch for this.

[2021-11-09 14:36] m-reza-rahman commented on #99
I have assigned the issue to you and will look at the PR ASAP. I am sure it’s fine.

[2021-12-07 14:28] siruslan opened #208 "Problem with starting the app and errors in the logs"
Hi, I was doing a demo today at JakartaOne Live and the demo did not went well as the app did start. The logs show some errors.

[code]

Can it be the reason? How can it be fixed?
Thank you

[2021-12-07 14:49] m-reza-rahman commented on #208
Hi Ruslan, I am happy to help with this.

It's hard to tell what is going on off hand but if I had to guess it is this database corruption issue that happens sometimes when there are too many application restarts or hot reloading (which Payara does not really support well). That issue and the workaround is listed here: https://github.com/eclipse-ee4j/cargotracker#known-issues.

Is the problem such

[2021-12-11 12:11] siruslan commented on #208
Hi Reza, I assume (not sure) that the issue is that there are two instances and both of them try to initialise database at the same time.
[code]

I have live K8s instances with this error. Will it help if I give you access to them? Also, you can reproduce this error on our Jelastic demo lab by yourself, I believe.

@dfateyev, can you please also describe the issue that K8s does not restart the con

[2021-12-11 16:37] m-reza-rahman commented on #208
Hmm. Is it possible at all that you are running an older version of the application? The reason I ask is that there were some specific changes made to the application to handle clustering in preparation for Kubernetes deployment. Here are the key changes: https://github.com/eclipse-ee4j/cargotracker/blob/9ddede53c982c8313d7d480348a052fdb6ffea03/src/main/java/org/eclipse/cargotracker/application/ut

[2021-12-12 08:07] siruslan commented on #208
Hi Reza, thank you for the feedback. Seems like after the updating to the latest version the issue does not appear. I will reopen this thread if the issue happens again.

[2021-12-12 08:07] #208 closed

[2021-12-12 14:56] dfateyev commented on #208
@siruslan as for Pod terminate policy, we probably discuss with Reza by e-mail, not to hijack the current thread with the DB requests stacktraces

[2022-01-15 19:41] m-reza-rahman commented on #99
We need to defer this until Payara (and other implementations) bring Jakarta EE 9 support to production.

[2022-05-31 20:27] ocseal opened #212 "Events for the same cargo object submitted within the same minute do not update the live map"
**Issue:**
Events logged for the same cargo object within the same minute in the mobile event logger do not properly update the object on the live map.

**Steps to replicate:**
1. Launch the app through the instructions specified in the readme and open the live map.
2. Note the location of the cargo objects on the live map.
3. Using the mobile event logger, log and submit an event where any cargo

[2022-06-01 20:11] m-reza-rahman commented on #212
I am unable to reproduce this so far. I think I need the second one within the minute.

[2022-06-01 21:54] #212 closed

[2022-08-06 18:19] m-reza-rahman commented on #180
Some experimental work for Liberty support here: https://github.com/eclipse-ee4j/cargotracker/tree/liberty-experimental.

[2022-08-06 18:22] m-reza-rahman commented on #13
Adopting Jakarta Data: https://projects.eclipse.org/proposals/jakarta-data is a possibility instead of DeltaSpike Data.